extends layout.pug

block content
  ul
    for article in articles
      a(href=`/${article.data.id}`) #{article.data.title}
      form(action=`/${article.data.id}/?_method=delete` method="post")
        input(type="submit" value="delete")
