extends layout.pug

block content
  ul
    for article in articles
      li
        a(href=`/${article.id}`)= article.title

  p
    if page > 1
      a(href=`/?page=${page - 1}`) Previous
    if articles.length >= 50
      a(href=`/?page=${page + 1}`) Next
