extends layout.pug

block content
  h1= article.title

  != article.body

  p
    a(href=`/${article.id}/update`) 編集
    form(action=`/${article.id}/delete` method="POST")
      button(type="submit") 削除
